body {
  /* display: flex; */
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: "Kanit";
  overflow-x: hidden;
}

p {
  margin: 0;
}

/*////////// Header - > ///////////////////////////////////////////*/

header {
  display: flex;
  justify-content: center;
  width: 100vw;

  /* background-color:#2E6A50; */
  background-image: linear-gradient(180deg, #2e6a50 0%, #41c089 73%);
  color: white;
  text-shadow: 2px 2px 2px black;
}

.header {
  position: relative;
  width: 900px;
}

.headerTop {
  display: flex;
}

.agrirslab {
  text-align: start;
}

.arsl {
  margin-bottom: 10px;
}

.title {
  margin-left: 30px;
}

.logo {
  margin-top: 20px;
}

header nav .menu-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: 200ms;
}

header nav .menu-button:hover {
  color: var(--light-blue-color);
}

.header>nav {
  display: flex;
  justify-content: row;
  justify-content: space-around;
  justify-content: flex-start;
}

.menu-button {
  margin: 1rem;
}

header {
  display: flex;
  justify-content: center;

  /* background-color:#2E6A50; */
  background-image: linear-gradient(180deg, #2e6a50 0%, #41c089 73%);
  color: white;
  text-shadow: 2px 2px 2px black;
}

.header {
  width: 900px;
}

.headerTop {
  display: flex;
}

.agrirslab {
  text-align: start;
}

.arsl {
  margin-bottom: 10px;
}

.title {
  margin-left: 30px;
}

.logo a {
  display: flex;
  align-self: center;
  /* align-self: center; */
  margin-top: 10px;
  width: 80px;
  aspect-ratio: 1;

  /* transform: scale(1.2); */
}

.languageButton {
  position: absolute;
  height: 40px;
  width: 70px;
  right: 0px;
  bottom: 0.5rem;
}



.languageChangeIcon {
  display: flex;
}

/* Interatividade Nav */

.sobre {
  position: relative;
  display: flex;
}

.atuacao {
  position: relative;
  display: flex;
}

.submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 10;
  top: 40px;
  /* background-image: linear-gradient(90deg, #2E6A50 0%, #41C089 73%); */
  background-color: #5fbb93;
  width: 130px;
  font-size: small;
  text-align: start;
  transition: 200ms;
}

.submenuAtuacao {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 10;
  top: 40px;
  background-color: #5fbb93;
  width: 130px;
  font-size: small;
  transition: 200ms;
  text-align: start;
}

.submenu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.submenu a:hover {
  color: var(--light-blue-color);
}

.submenuAtuacao a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.submenuAtuacao a:hover {
  color: var(--light-blue-color);
}

.sobre:hover .submenu {
  transform: scale(1);
  display: flex;
}

.atuacao:hover .submenuAtuacao {
  display: flex;
  transform: scale(1);
}

.arrow-down {
  display: flex;
  align-items: center;
  width: 0px;
  border: none;
  border-top: 5px solid #fff;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  margin-left: 8px;
}

/* Container -> ///////////////////////////////////////*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container>* {
  width: 1000px;
}

.container>section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer //////////////////// */

footer {
<<<<<<< HEAD
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(180deg, #154430 0%, #3F936E 100%);
    color: white;
    padding: 30px;
    width: 100vw;
=======
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(180deg, #154430 0%, #3f936e 100%);
  color: white;
  padding: 30px;
  width: 100vw;
>>>>>>> 19526c4eae26944fa932a7894c43d7587701b04a
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

#footer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: x-large;
}

#footer1 div a {
  margin: 0.6rem;
  transition: 200ms;
}

#footer1 div a:hover {
  color: blue;
}

#footer3 {
  display: flex;
  align-items: column;
  width: 300px;
}

/* Ensure dynamically-inserted footer stays at the bottom of the page */
#footer-socket footer {
  margin-top: auto;
  width: 100%;
}


/* Link */

a {
  /* color: var(--text-base-color); */
  text-decoration: none;
}

footer a {
  color: var(--text-base-color);
}

/* SOBRE */

.cor {
  background-color: #3f936e;
  width: 70vw;
  height: 1000vh;
}

.sobrebox {
    display: flex;

}

/* Adicione ao global.css */
.main-content {
    display: flex;
    gap: 40px;
    margin-top: 32px;
}

.sidebar {
    width: 320px;
    background: #f6fff6;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: auto; 
    max-height: calc(100vh - 0px);
}

.filter {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}

.other-publications {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.publication-card {
    background: #e6ffe6;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
}

.publication-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 8px;
}

.publication-detail {
    flex: 1;
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 8px #0001;
    min-height: 300px; /* define baseline height so page limits are based on this column */
}

.publication-detail img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 16px 0;
    border-radius: 8px;
}

.pub-date {
    float: right;
    color: #888;
    font-size: 0.95em;
}






/* Responsividade  */

@media screen and (max-width: 1000px) {


  body{
    width: 100%;
  }

  /* Header Responsivo */
  header {
    width: 100%;
  }

  .header {
    width: 900px;
  }

  .logo a {
    width: 4.5rem;
    aspect-ratio: 1;
  }

  .logo {
    margin: 0;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    margin-left: 0px;
    height: 102px;
    text-align: left;
  }

  .agrirslab {
    text-align: center;
  }

  .headerTop {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }

  .headerTop h1 {
    font-size: larger;
    text-align: left;
  }

  .headerTop p {
    font-size: x-small;
  }

  nav {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
  }

  nav .menu-button {
    max-width: 2.5rem;
  }

  .languageButton {
    width: 2rem;
    aspect-ratio: 1;
    object-fit: contain;
    transform: rotate(90deg);
  }

  .title h1 {
    margin: 0;
  }

  .arsl {
    margin: 0;
  }

  /* Container Responsivo */

  .container>* {
    max-width: 100%;
  }


  /* Footer*/


  footer{
    max-width: 100%;
    padding: 0px;

  }

  .footer{
    justify-content: space-evenly;
    max-width: 100%;
    
  }

  .iconsFooter {
    font-size: x-small;
    margin: 0px;
  }

   #footer1 div a{
    margin: 0.3rem;
   }

  #footer1, #footer2, #footer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  #footer1{
    font-size: 0.7rem;
  }

  #footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.6rem;
  }

  #footer3{
    font-size: 0.5rem;
    max-width: 7rem;
  }



  #footer2 img{
    height: 2rem;
    width: 2rem;

  }

  

  




}