body {
   
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: "Kanit";
}

/*--------Conteudo da Noticia------*/

.titulo-noticia-geral {
    width:85%;
    border-radius: 2rem 2rem 0 0;
    height: 300px ;
   background-color: #2E6A50;
   background-image: linear-gradient(360deg, #2E6A50 0%, #41C089 100%);
   color: #fff;
   text-align: center;
}

.data-noticia {
      font-size: 20px;
      font-weight:300;
     
      margin-bottom: 1px;
      margin-top: 15px;
}

.titulo-principal-noticia {
     font-size: 20px;
      font-weight:500;
    overflow-wrap: break-word;
    font-weight: bold;
     margin-bottom: 40px;
      margin-top: -10px;
}

.subtitulo-titulo-noticia {
     font-size: 20px;
      font-weight:300;
    overflow-wrap: break-word;
       
}



.imagem-da-noticia1  {
    
     overflow: hidden;
     display: flex;
    border-radius: 0px 30px 0 30px; 
   -webkit-box-shadow: 6px 5px 5px 2px rgba(0,0,0,0.44); /* Efeito de sombra retirado da site https://html-css-js.com/css/generator/box-shadow/ */
    box-shadow: 6px 5px 5px 2px rgba(0,0,0,0.44);/* Efeito de sombra retirado da site https://html-css-js.com/css/generator/box-shadow/ */
     width: 70%;
     margin-top: 30px;
     
    
}

.imagem-da-noticia1>img {
    width: 100%;
    
    
}

.conteudo-noticia {
     width: 70%;
      font-family: "Kanit";
      text-align:justify;
      margin-bottom: 20px ;
}

.card-citacao {
    width:100%;
    background-color: #7EE8A1;
    margin-block: 1.5rem;
    text-align:left;
    border-left: 7px solid;
    border-left-color:#2E6A50  ;
    border-radius: 0 10px 10px 0;
}

.citacao-noticia {
 
    padding: 10px;
    font-style: italic;
    
    
}
