body{
    /* display: flex; */
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: "Kanit";
}



/*////////// Header - > ///////////////////////////////////////////*/

.header > nav {
    display: flex;
    justify-content: row;
    justify-content: space-between;

}

header{
      display: flex;
    justify-content: center;
    
    /* background-color:#2E6A50; */
    background-image: linear-gradient(180deg, #2E6A50 0%, #41C089 73%);
    color: white;
    text-shadow: 2px 2px 2px black;
}

.header{
    width: 900px;
}


.headerTop{
    display: flex;
}

.agrirslab{
    text-align: start;
}

.arsl{
margin-bottom: 10px;


}

.title{
    margin-left: 30px;
}

.logo{
    margin-top: 20px;
    transform: scale(1.2);
}

/* Container -> ///////////////////////////////////////*/


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.container > *{

    width: 900px;
}

.container > section {

    display: flex;
    flex-direction: column;
    align-items: center;


}


/* Carrosel ////////////////////////////////*/

.carrosel{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #dfdfdf;
    height: 35vh;
    background: url(../public/img/imagemCarroselNoticia.png);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}   

.carroselText{
      border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #3f936f8a;
    width: 100vh;
    height: 15vh;  
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carroselText > p{
    margin: 0px;
}

.arrows{
    display: flex;
}




/* Setas Carrosel -> ////////////////////////////*/

#leftArrow{
    display: flex;
    transform: scaleX(-1);
}

.material-symbols-outlined{
    margin-top: 55px;
    
}


/* feed / Cards //////////////*/

.PROJETOScard{
    display: flex;
    align-items: flex-end;
    background-color: #2E6A50;
    height: 300px;
    width: 200px;
    /* border: solid; */
    border-radius: 10px;
    display: flex;
    margin: 20px;
    transition: 200ms;
}

.PROJETOScard:hover{
    transform: scale(1.2);
}

.cardsProjetos{
    display: flex;
    justify-content: space-between;
}

.PUBLICACOEScard{
    display: flex;
    align-items: flex-end;
      background-color: #2E6A50;
    height: 300px;
    width: 200px;
    /* border: solid; */
    border-radius: 10px;
    display: flex;
    margin: 20px;
    transition: 200ms;
}

.PUBLICACOEScard:hover{
    transform: scale(1.2);
}

.cardsPublicacoes{
    display: flex;
    justify-content: space-between;
}

button{
    font-size: large;
    border-radius: 50px;
    /* transform: scale(1.2); */
    height: 50px;
    width: 150px;
    padding: 10px;
    background-color: #DFFFE5;
    border: 1px solid #005b11;


}

button:hover{
 font-size: large;
    border-radius: 50px;
    /* transform: scale(1.2); */
    height: 50px;
    width: 150px;
    padding: 10px;
    background-color: #005b11;
    color: white;

}

/* button::before{
    content: "fodase";
}
button:hover::before {
    content: "bazinga";
} */

.card{
    display: flex;
    align-items: flex-end;
         background-color: #2E6A50;
    height: 100px;
    width: 75px;
    /* border: solid; */
    border-radius: 10px;
    display: flex;
    margin: 20px;
    transition: 200ms;
}

.card:hover{
    transform: scale(1.2);
}

.cardText{
    border-radius: 10px;
    background-color: #3F936E;
    width: 206px;
    height: 100px;
}

.cardTextEquipe{
     display: flex;
     flex-direction: column;
     justify-content: center;
  border-radius: 10px;
    background-color: #3F936E;
    width: 206px;
    height: 30px;
    font-size: small;
    
}



/* equipe Carrosel //////////////*/


.equipeCarrosel{
    display: flex;
    justify-content: space-between;
}




/* área de Formulario /////////////////// */

.formSection{
    display: flex;
    
    
}


form{
    display: flex;
    justify-content: center;
    margin: 20px;
    
    
}


.buttonForm{
    display: flex;
    justify-content: center;
}

#assuntoBox > form{
    height: 100px ;
    

} 

form > input, textarea{
    width: 300px;
    /* border: solid 1px;
    border-radius: 5px; */
    border: none;
  padding: 7px;
  border-radius: 3px;
  /* box-shadow: inset 3px 4px 4px rgba(200, 200, 200, 0.5); */
  border-bottom: 1px solid rgba(200, 200, 200, 0.9);
  font-family: inherit;

}








/* footer //////////////////// */

footer{
display: flex;
justify-content: space-around;
background-image: linear-gradient(180deg, #154430 0%, #3F936E 100%);
color: white;
padding: 30px;

}

.footer{
display: flex;
justify-content: space-between;
width: 900px;


}


#footer1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: x-large;
}

#footer3{
    display: flex;
    align-items: column;
    width: 300px;
}


/* unrelated ////////// */

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
    text-decoration: none;
}

.languageButton{
    transform: scale(0.7);
}