/* Caixas */

.titulo{
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.200);
}

.sobreBox{
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* background-color: rgba(35, 126, 43, 0.5); */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.205);
    width: 100%;
    height: 40vh;
    margin: 1rem;
    border-radius: 10px;
    transition: 200ms;
    margin-bottom: 2vh;
}



.box img{
    width: 100%;
    height: 100%;
    position: absolute;
}



.box:hover {
    transform: scale(1.1);
}

.textBox{
    scale: 1.2;
    padding: 10rem;
    position: relative;
    z-index: 1;
    color: white;
}

/* mobile*/

@media (max-width: 900px) {
.titulo{
    text-align: center;
    margin: 2rem;
    font-size: 1.5rem;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.200);
}

.sobreBox{
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* background-color: rgba(35, 126, 43, 0.5); */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.205);
    width: 90vw;
    height: 20vh;
    margin: 1rem;
    border-radius: 10px;
    transition: 200ms;
    margin-bottom: 2vh;
}



.box img{
    width: 100%;
    height: 100%;
    position: absolute;
}



.box:hover {
    transform: scale(1.1);
}

.textBox{
    scale: 0.7;
    padding: 1rem;
    position: relative;
    z-index: 1;
    color: white;
}
