/* Fontes */

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Jacquard+24&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Cores */

:root{
    --text-base-color: white;
    --dark-blue-color: #2166A7;
    --light-blue-color: #4B7CB4;
    --dark-green-color: #2E6A50;
    --mid-green-color: #3F936E;
    --light-green-color: #41C089;

}