<footer>
  <div class="footer">
    <div id="footer1">
      <h4>Nossas Redes:</h4>
      <div class="iconsFooter">
        <a href="">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </div>
    </div>
    <div id="footer2">
      <div class="logoFooter">
        <img src="../public/img/logo.png" alt="" height="80" />
        <img src="../public/img/inpeLogo.png" alt="" height="80" />
      </div>

      <p>Copyright 2025 - Inpe</p>
    </div>
    <div id="footer3">
      <p>
        Serviço de Relações Institucionais - SEREL Instituto Nacional de
        Pesquisas Espaciais - INPE
      </p>
    </div>
  </div>
</footer>
