<header>
    <div class="header">
        <div class="headerTop">
            <div class="logo">
                <a href="/pages/index.html"><img src="../public/img/logo.png" alt="inpeimagem"></a>
            </div>
            <div class="title">
                <div class="agrirslab">
                    <h1>AgriRSLab</h1>
                </div>
                <div class="arsl">
                    <p>Agricultural Remote Sensing Laboratory - INPE</p>
                </div>
            </div>
        </div>
        <nav>
            <div class="sobre">
                <a href="/pages/sobre.html" class="menu-button">Sobre
                    <div class="arrow-down"></div>
                </a>
                <div class="submenu">
                    <a href="/pages/sobre.html">O AgriRs</a>
                    <a href="/pages/membros.html">Equipe</a>
                    <a href="/pages/index.html">Colaboradores</a>
                    <a href="/pages/facaparte.html">Oportunidades</a>
                </div>
            </div>
            <div class="atuacao">
                <a href="/pages/projetos.html" class="menu-button">Atuação
                    <div class="arrow-down"></div>
                </a>
                <div class="submenuAtuacao">
                    <a href="">Áreas de Pesquisa</a>
                    <a href="/pages/projetos.html">Projetos</a>
                </div>
            </div>

            <a href="/pages/publicacoes.html" class="menu-button">Publicações</a>
            <a href="/pages/paginanoticias.html" class="menu-button">Notícias</a>
            <a href="" class="menu-button">Contato</a>
            <img class="languageButton" src="../public/img/Botão de Mudança de Lingua.png" alt="">

        </nav>
        <div class="languageChangeIcon"></div>
    </div>
</header>