<header>
        <div class="header">
            <div class="headerTop">
                <div class="logo">
                    <img src="../public/img/logo.png" alt="inpeimagem" width="90" height="90">
                </div>
                <div class="title">
                    <div class="agrirslab">
                        <h1>AgriRSLab</h1>
                    </div>
                    <div class="arsl">
                        <p>Agricultural Remote Sensing Laboratory - INPE</p>
                    </div>
                </div>
            </div>
            <!-- <nav>
                <p>Sobre</p>
                <p>Atuação</p>
                <p>Publicações</p>
                <p>Notícias</p>
                <p>Contato</p>
                <img class="languageButton" src="../public/img/Botão de Mudança de Lingua.png" alt="">
            </nav> -->
            <nav>
                <a href="" class="menu-button">Sobre</a>
                <a href="" class="menu-button">Atuação</a>
                <a href="" class="menu-button">Publicações</a>
                <a href="" class="menu-button">Notícias</a>
                <a href="" class="menu-button">Contato</a>
                <img class="languageButton" src="../public/img/Botão de Mudança de Lingua.png" alt="">
            </nav>
            <div class="languageChangeIcon"></div>
        </div>
    </header>
