body{
    /* display: flex; */
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: "Kanit";
}

/* footer //////////////////// */

footer{
display: flex;
justify-content: space-around;
background-image: linear-gradient(180deg, #154430 0%, #3F936E 100%);
color: white;
padding: 30px;

}

.footer{
display: flex;
justify-content: space-between;
width: 900px;


}


#footer1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: x-large;
}

#footer3{
    display: flex;
    align-items: column;
    width: 300px;
}


/* unrelated ////////// */

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
    text-decoration: none;
}

.languageButton{
    transform: scale(0.7);
}