body{
    /* display: flex; */
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: "Kanit";
}

/*////////// Header - > ///////////////////////////////////////////*/

.header > nav {
    display: flex;
    justify-content: row;
    justify-content: space-between;

}

header{
      display: flex;
    justify-content: center;
    
    /* background-color:#2E6A50; */
    background-image: linear-gradient(180deg, #2E6A50 0%, #41C089 73%);
    color: white;
    text-shadow: 2px 2px 2px black;
}

.header{
    width: 900px;
}


.headerTop{
    display: flex;
}

.agrirslab{
    text-align: start;
}

.arsl{
margin-bottom: 10px;


}

.title{
    margin-left: 30px;
}

.logo{
    margin-top: 20px;
    transform: scale(1.2);
}

/* unrelated ////////// */

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
    text-decoration: none;
}

.languageButton{
    transform: scale(0.7);
}